@import "../base/settings";


.btn-bookmark {
  border: 1px solid #aaa;
  border-radius: 30px;
  box-shadow: none;
  margin-right: 40px;
  padding: 5px 15px;
  margin-bottom: 60px;
  margin-left: 40px;
}
