@import "../base/settings";

.new-comments {
  padding: 2%;
}

.text-area-input-text {
  border: 1px solid $comment-grey;
  border-radius: 2%;
  padding: 40px;
}

.comment-publish-btn {
  float: right;
}

.display-comments {
  margin-top: 6%;
  margin-left: 5%;
}

.comment-list{
  width: 90%;
  padding: 2%;
}

.more-comments-icon {
  float: right;
}

.comment-dropdown {
 float: right;
 display: none;
}
.anotherclass {
  display: block;
  width: 100px;
  background-color: #E0E0E0;
  color: white;
  font-size: 18px;
  padding: 1%;
  text-align: center;
}

.anotherclass1 {
  display: block;
  z-index: 500;
  width: 300px;
  position: absolute;
}

.close-edit{
  float: right;
}

.btn-edit-comment {
  width: 90px;
}
