@import "../base/settings";

.btn-following {
  color:$color-green;
  border-radius: 4px;
  width: 97px;
  height: 32px;
  border: 1px solid $color-green;
}

.btn-following:hover {
  border: 1px solid $color-green;
  color:$color-green;
}

.btn-following:focus{
  background-color:$white;
  cursor: pointer;
}

