@import '../base/settings';

.button {
    background-color: white;
    width: 200px;
    border: none;
    color: $button-green;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    position: relative;
    left: 65%;
    cursor: pointer;
    border: 1px solid $button-green;
    border-radius: 20px;
  }

.button:hover {
    color: white;
    background-color: #4ba57f;
  }

.dropdown {
    position: absolute; 
    border-radius: 10%;
    text-align: center;
    width: 200px;
    right: 10%;
  }

.dropdown li {
    border-bottom: 1px solid #f9f9f9;
    padding: 2%;
  }

.publish-article-dropdown {
    position: absolute;
    border-radius: 5%;
    text-align: center;
    width: 300px;
    right: 23%;
    border: 1px solid green;
    z-index: 500;
  }

.publish-button {
    background-color: white;
    width: 200px;
    border: none;
    color: $button-green;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    position: relative;
    margin: 2%;
    cursor: pointer;
    border: 1px solid $button-green;
    border-radius: 20px;
  }

.publish-button:hover {
    color: white;
    background-color: #4ba57f;
  }
