@import "../base/settings";

.button {
  background-color: $white;
  border: 1px solid $button-green;
  border-radius: 20px;
  color: $button-green;
  cursor: pointer;
  left: 65%;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 200px;
}
.profile-button {
  background-color: $white;
  border: 1px solid $button-green;
  border-radius: 20px;
  color: $button-green;
  cursor: pointer;
  left: 65%;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 200px;
}

.button:hover {
  background-color: $button-green;
  color: $white;
}

.dropdown {
  border-radius: 10%;
  position: absolute;
  right: 10%;
  text-align: center;
  width: 200px;
}


.publish-article-dropdown {
  border: 1px solid $primary-green;
  border-radius: 5%;
  position: absolute;
  right: 23%;
  text-align: center;
  width: 300px;
  z-index: 500;
}

.publish-button {
  background-color: $white;
  border: 1px solid $button-green;
  border-radius: 20px;
  color: $button-green;
  cursor: pointer;
  margin: 2%;
  text-align: center;
  text-decoration: none;
  width: 200px;
}

.publish-button:hover {
  background-color: $button-green;
  color: $white;
}

.tag-list {
  float: right;
  margin: 3% 10% 3% 3%;
}

.small-navbar-profile {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 15px 20px 10px 15px;
}
.small-navbar-profile:hover {
cursor: pointer;
}

.navbar-username{
  margin-bottom: 30px;
  color: red;
  margin-right: 30px;
}

.profile-button{
  position: relative;
  color: blue;
  height: 40px;
  width: 40px;
  margin-top: 10px;
  margin-right: 50px;

}

ul#nav-dropdown.dropdown-content{
  margin-top: 5px;
  display: block;
  width: 115px !important;
  top: -50px;
}

#nav-dropdown li {
  margin-bottom: -10px;
}

#nav-dropdown li:hover {
 background-color: $white;
}

#nav-dropdown li a {
  padding-top: 5px ;
  padding-bottom: 5px ;
  font-size: 14px;
  color: $black;
  border-bottom: 0.5px solid $navbar-color;
}

#nav-dropdown li a:hover {
  background-color: $white;
}

.nav-drop-item{
  color: $black;
  border: 2px solid black;
  height: 45px;
}

li.nav-logout {
  font-size: 14px;
  padding-left: 16px;
  height: 20px;
  margin-bottom: -20px !important;
}

