@import "../base/settings";

.material-icons {
  border: none;
  background: none;

}

.btn-thumb-up {
  border: 1px solid #aaa;
  border-radius: 30px;
  box-shadow: none;
  margin-right: 40px;
  padding: 5px 15px;
  margin-bottom: 20px;
}

.btn-thumb-down {
  border: 1px solid #aaa;
  border-radius: 30px;
  box-shadow: none;
  margin-right: 40px;
  padding: 5px 15px;
  margin-bottom: 20px;
}

.like-dislike {
  margin-right: 30px;
  margin-left: 30px;
  padding-right: 30px;
  margin-bottom: 30px;

  & i {
    margin-right: 4px;
  }

}