@import "../base/settings";

.material-icons{
  border: none;
  background: none;
}

.btn-thumb-up{
  margin-right: 40px;
  border-radius: 30px;
  box-shadow: none;
  padding: 5px 15px;
  border: 1px solid #aaa;


}
.btn-thumb-down{
  margin-right: 40px;
  border-radius: 30px;
  box-shadow: none;
  padding: 5px 15px;
  border: 1px solid #aaa;

}
