@import "../base/settings";

ul#dropdown1.dropdown-content{
    margin-top: 20px;
    display: none;
    width: 300px !important;
    top: -65px; 
    overflow-y: scroll;
    left: 200px;
  }
  
  #notification-counter{
    background-color: $google-red;
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
  }
  
  #notification-counter span{
    color: #fff;
    font-size: 12px;
    float: right;
    padding-top:5px;
    margin-top: -25px;
    margin-right:7px;
  
  }
  
  .unread{
    background-color: $color-pale-green;
    border-bottom: 1px solid $navbar-color;
  }
  
  .read{
    background-color: #fff;
    border-bottom: 1px solid $navbar-color;
  }
  
  .notification-avatar {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin:15px 15px 25px 15px;
  }
  
  .notification {
    font-size: 12px;
  }
  
  .actor{
    padding-left:70px; 
    margin-top:-75px; 
  }

  .time{
    padding-left:70px; 
    color: #8d8c8c;
    font-size: 10px;
  }

.notification-descripton{
  color:$color-green;
  font-size: 13px;
  font-weight: 300;
  padding-left:70px;
}

.notification-descripton:hover{
  background-color:inherit;
  text-decoration-line: underline;
}

.switch{
  border-bottom: 1px solid $navbar-color;
  font-size: 10px;
  padding-left:70px;
  padding-bottom:20px;
  height: 50px;
  margin-top:-10px;
}

.lever{
  transform: scale(0.7);
}

.zero-notification{
  padding-top:10px;
  padding-left:50px; 
}
