.small-profile {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.profile {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-top: 40px;
 }
 .user-detail {
   align-items: center;
   display: flex;
 }

 .avatar {
   height: 120px;
   width: 120px;
   border-radius: 50%;
   margin-top: 45px;
 }
 .edit-avatar{
   height: 120px;
   width: 120px;
   border-radius: 50%;
   margin-top: 20px;
 }

.btn {
  text-transform: none;
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid #aaa;
}

.btn:hover {
  text-transform: none;
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid teal;
  background-color: teal!important;
  color: #fff!important;

}

 .user-info {
   display: flex;
   flex-direction: column;
 }
.followers-link li{
  display: inline;
}
.followers-link li :hover{
  text-decoration: underline;
}

.user-detail > button {
  margin-left: 30px;
}

.username{
  margin: 0;
  padding: 0;
  border: none!important;
}

.materialize-textarea{
  overflow: auto;
  outline: none;
  border: 1px solid #888;
}

.avatar-wrapper {
  position: relative;

  & button {
    position: absolute;
    top: 90px;
    left: 55px;
    background: none;
    border: none;
    color: white;
  }
}
