@import "../base/settings";

.search {
  align-items: center;
  display: flex;

  i {
    cursor: pointer;
  }
}

.centered {
  display: flex;
  justify-content: center;
}

#search-filter {
  outline: none;
  border: none;
}