$color-gray: #aaa;
$color-gray: #aaa;

$secondary-color: rgb(219, 235, 235);

$navbar-color: rgb(224, 223, 223);

$button-color: teal;

$black: #000000;

$white: #ffffff;

$error-red: #a94442;

$alert-red: #ec2e2b;